<div style="margin-bottom: 12px;">
  <strong><%= message.sender.full_name %>:</strong>
  <span><%= message.content %></span>
  <br>
  <small style="color: gray;"><%= message.created_at.strftime("%I:%M %p") %></small>
</div>
